/* header */

.logo {
  height: 90px;
  margin: 0.5em;
}

.nav {
  position: sticky;
  background-color: var(--second-color);
  width: 100%;
}

.nav__li {
  padding: 0.5em;
  text-align: center;
}

.nav__link {
  color: black;
  text-transform: uppercase;
  font-weight: bold;
}

.nav__link:hover {
  color: var(--big-color);
}

/* post-page */

.postContainer {
  margin: 0.5em;
}

.postTitle {
  font-size: 1.2em;
  margin-bottom: 0.2em;
  text-decoration: underline;
  color: var(--big-color);
}

.postTitle:first-letter,
.postContent:first-letter {
  text-transform: uppercase;
}

/* titles */

.title {
  font-size: 1.5em;
  color: var(--big-color);
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1em;
}

/* buttons */

.button,
.addModeBtn {
  margin: 0.5em;
  padding: 0.7em;
  cursor: pointer;
  border-radius: 10px;
  background-color: var(--second-color);
}

.button:hover,
.addModeBtn:hover {
  background-color: var(--big-color);
}

.addModeBtn {
  margin: 0 0 1em 0;
}

/* components */

#postList,
.formSection {
  border: solid 1px var(--second-color);
  margin: 0.5em;
  padding: 1em;
}

.postContent {
  margin: 0.5em 0;
}

.list:hover {
  color: var(--big-color);
  cursor: pointer;
}

/* form */

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__label {
  margin: 0.5em;
}

.form__input {
  margin-left: 0.5em;
  height: 2em;
}

.form__buttons {
  margin-top: 1em;
}
